!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Intuit IDS Explorer - Live Documentation'
        title=title
        link(rel='stylesheet', href='/stylesheets/prettify.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        script(type='text/javascript', src='https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js')

    body(style='position:relative;')
        div
            header
                div(class='header')


            body
                form(id='credential', class="span8", enctype="multipart/form-data", encode="multipart/form-data", action="/credential", method="POST")
                    fieldset
                        input(type='hidden', name='apiName', value=apiName)
                        - if (session.authed && apiInfo.oauth && apiInfo.oauth.type =='three-legged')
                            - var authed = 'authed'
                        - else
                            - var authed = ''
                        legend Credentials

                        - if (apiInfo.auth)
                            - if (!authed)
                                - if (apiInfo.oauth && apiInfo.oauth.type != "saml")
                                    input(type='hidden', name='oauth', value='authrequired')
                                    div(class="helptext")
                                        sapn Don't have credentials?&nbsp;
                                        a(href="https://ipp.developer.intuit.com/0010_Intuit_Partner_Platform/0025_Intuit_Anywhere/0020_Connect/Create_An_App_Profile", target="_blank") Create an App Profile!
                                    div(class="row")
                                        div(class="span3")
                                            label Consumer Key
                                        div(class="span5")
                                            input(type="text", name="key", placeholder="Required")
                                    div(class="row")
                                        div(class="span3")
                                            label Consumer Secret
                                        div(class="span5")
                                            input(type="text", name="secret", placeholder="Required")
                                    div
                                        a(id="i_have_access_tokens_id") I have access tokens
                                    div(id="div_access_key_id", class="hide")
                                        div(class="row")
                                            div(class="span3")
                                                label Access Token Key
                                            div(class="span5")
                                                input(type="text", name="accessKey", placeholder="Required")
                                        div(class="row")
                                            div(class="span3")
                                                label Access Token Secret
                                            div(class="span5")
                                                input(type="text", name="accessSecret", placeholder="Required")
                                        div(class="row")
                                            div(class="span3")
                                                label Realm Id / Company Id
                                            div(class="span5")
                                                input(type="text", name="realmId", placeholder="Required")
                                    div(class="row")
                                        br
                                        span(style="padding-left:50px;")
                                        a(id="C2QB_id", onclick="submitForm()")
                                            img(src="/images/Connect-to-QuickBooks.png")
                                        span(id="preloader_span", style="padding-left:50px;")
                                        input(type="button", class="btn btn_bold", id="popup-cancel", value="Cancel")
                                - else if(apiInfo.oauth && apiInfo.oauth.type == "saml")
                                    div(class="helptext")
                                        sapn Don't have credentials?&nbsp;
                                        a(href="https://ipp.developer.intuit.com/index.php?title=0010_Intuit_Partner_Platform/0020_Aggregation_%26_Categorization_Apps/0010_GettingStarted/0015_Create_an_Agg_%26_Cat_integration", target="_blank") Create an AggCat Integration!
                                    - if(apiName=='AggCat')
                                        div(class="helptext")
                                            span(style='font-weight:bold;') * It is important to keep track of User IDs, as the customer limit is 5 during development and testing.
                                    div(class="row")
                                        div(class="span3")
                                            label Consumer Key
                                        div(class="span5")
                                            input(type="text", name="key", placeholder="Required", value=session.apiKey)
                                    div(class="row")
                                        div(class="span3")
                                            label Consumer Secret
                                        div(class="span5")
                                            input(type="text", name="secret", placeholder="Required", value=session.apiSecret)
                                    div(class="row")
                                        div(class="span3")
                                            label SAML Identity Provider ID
                                        div(class="span5")
                                            input(type="text", name="spId", placeholder="Required", value=session.spId)
                                    - if(apiName=='AggCat')
                                        div(class="row")
                                            div(class="span3")
                                                label User ID *
                                            div(class="span5")
                                                input(type="text", name="userId", placeholder="Required", value=session.subject)
                                    - if(apiName=='AggCatBatch')
                                        div(class="row")
                                            div(class="span3")
                                                label Batch ID
                                            div(class="span5")
                                                input(type="text", name="batchId", placeholder="Required", value=session.subject)
                                    div(class="row", style="padding-bottom:10px;")
                                        div(class="span3")
                                            label Cert File **
                                        div(class="span5")
                                            input(type="file", name="certFile", placeholder="Required")
                                    div(class="helptext")
                                        sapn ** This is only for testing purposes, Please do not use Production keys.
                                    div(class="row")
                                        input(type='hidden', name='oauth', value='authrequired')
                                        input(type='hidden', name='generateTokens', value='saml')
                                        br
                                        span(style="padding-left:50px;")
                                        input(type="button", class="btn btn_bold", name="submit_name", value="Get OAuth Tokens", onclick="submitForm()")
                                        span(id="preloader_span", style="padding-left:50px;")
                                        input(type="button", class="btn btn_bold", id="popup-cancel", value="Cancel")
                            - else if (authed)
                                div
                                    span Authenticated with OAuth &nbsp;
                                    img(src='/images/accept.png')
                                br
                                span(style="padding-left:50px;")
                                input(type='button', name='submit_name', value='Invalidate', class='btn btn_bold', onclick="submitForm()")
                                span(id="preloader_span", style="padding-left:50px;")
                                input(type="button", class="btn btn_bold", id="popup-cancel", value="Cancel")
                        - else
                            input(type="button", class="btn btn_bold", id="popup-cancel", value="Cancel")
                        input(name='submit_name', value='Submit', id="submit_btn_id", type='submit', class='hide')
        script(src='/javascripts/jquery-1.7.2.min.js')
        script(src='/javascripts/jquery-1.7.2.js')
        script(src='/javascripts/bootstrap.js')
        script(src='/javascripts/jquery.form.js')
        script(src='/javascripts/credentials.js')

